<h1>Discover Comics</h1><br>

<%= form_with url: "/users/#{@user.id}/comics", method: :get, local: true do |form| %>
<%= form.text_field :"q", placeholder: "Find your Comics" %>
<%= form.submit :'Find Comics' %>
<% end %>


