<h2>Search Results</h2>
<% if @comics.present? %>
  <ul>
    <% @comics.each do |comic| %>
      <li>
        <%= image_tag comic.image_url %>
        <div>
          <strong><%= comic.name %></strong> - <%= comic.issue_number %> - <%= comic.publisher %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No results found.</p>
<% end %>
