<html>
<head>
<style>
div { 
  background-color: lightgrey;
  width: 500px;
  border: 50px solid orange;
  padding: 20px;
  margin: auto;
}
</style>
</head>
<body>
<center>
<div>
<h4>Welcome to Collect It</h4>
</div>
</center>


  <%= button_to "Create A New User", register_path, method: :get %>
  <%= button_to "Log In", "/login" %>

</html>